<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faceList</key>
	<array>
		<dict>
			<key>faceID</key>
			<string>0</string>
			<key>fileName</key>
			<string>face0.png</string>
			<key>phraseCN</key>
			<string>微笑</string>
			<key>phraseTW</key>
			<string>微笑</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>1</string>
			<key>fileName</key>
			<string>face1.png</string>
			<key>phraseCN</key>
			<string>大笑</string>
			<key>phraseTW</key>
			<string>大笑</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>2</string>
			<key>fileName</key>
			<string>face2.png</string>
			<key>phraseCN</key>
			<string>憨笑</string>
			<key>phraseTW</key>
			<string>憨笑</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>3</string>
			<key>fileName</key>
			<string>face3.png</string>
			<key>phraseCN</key>
			<string>奸笑</string>
			<key>phraseTW</key>
			<string>姦笑</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>4</string>
			<key>fileName</key>
			<string>face4.png</string>
			<key>phraseCN</key>
			<string>乐</string>
			<key>phraseTW</key>
			<string>樂</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>5</string>
			<key>fileName</key>
			<string>face5.png</string>
			<key>phraseCN</key>
			<string>心花怒放</string>
			<key>phraseTW</key>
			<string>心花怒放</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>6</string>
			<key>fileName</key>
			<string>face6.png</string>
			<key>phraseCN</key>
			<string>大哭</string>
			<key>phraseTW</key>
			<string>大哭</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>7</string>
			<key>fileName</key>
			<string>face7.png</string>
			<key>phraseCN</key>
			<string>不会吧</string>
			<key>phraseTW</key>
			<string>不會吧</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>8</string>
			<key>fileName</key>
			<string>face8.png</string>
			<key>phraseCN</key>
			<string>不明白</string>
			<key>phraseTW</key>
			<string>不明白</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>9</string>
			<key>fileName</key>
			<string>face9.png</string>
			<key>phraseCN</key>
			<string>出来</string>
			<key>phraseTW</key>
			<string>出來</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>39</string>
			<key>fileName</key>
			<string>face39.png</string>
			<key>phraseCN</key>
			<string>过来一下</string>
			<key>phraseTW</key>
			<string>過來一下</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>11</string>
			<key>fileName</key>
			<string>face11.png</string>
			<key>phraseCN</key>
			<string>调皮</string>
			<key>phraseTW</key>
			<string>調皮</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>12</string>
			<key>fileName</key>
			<string>face12.png</string>
			<key>phraseCN</key>
			<string>愤怒</string>
			<key>phraseTW</key>
			<string>憤怒</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>13</string>
			<key>fileName</key>
			<string>face13.png</string>
			<key>phraseCN</key>
			<string>害怕</string>
			<key>phraseTW</key>
			<string>害怕</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>14</string>
			<key>fileName</key>
			<string>face14.png</string>
			<key>phraseCN</key>
			<string>很热</string>
			<key>phraseTW</key>
			<string>很熱</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>15</string>
			<key>fileName</key>
			<string>face15.png</string>
			<key>phraseCN</key>
			<string>很受伤</string>
			<key>phraseTW</key>
			<string>很受傷</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>10</string>
			<key>fileName</key>
			<string>face10.png</string>
			<key>phraseCN</key>
			<string>垂涎三尺</string>
			<key>phraseTW</key>
			<string>垂涎三尺</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>19</string>
			<key>fileName</key>
			<string>face19.png</string>
			<key>phraseCN</key>
			<string>可怜兮兮</string>
			<key>phraseTW</key>
			<string>可憐兮兮</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>22</string>
			<key>fileName</key>
			<string>face22.png</string>
			<key>phraseCN</key>
			<string>骂人</string>
			<key>phraseTW</key>
			<string>罵人</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>23</string>
			<key>fileName</key>
			<string>face23.png</string>
			<key>phraseCN</key>
			<string>没什么了不起</string>
			<key>phraseTW</key>
			<string>沒什麼了不起</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>25</string>
			<key>fileName</key>
			<string>face25.png</string>
			<key>phraseCN</key>
			<string>难过</string>
			<key>phraseTW</key>
			<string>難過</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>26</string>
			<key>fileName</key>
			<string>face26.png</string>
			<key>phraseCN</key>
			<string>努力</string>
			<key>phraseTW</key>
			<string>努力</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>27</string>
			<key>fileName</key>
			<string>face27.png</string>
			<key>phraseCN</key>
			<string>探索</string>
			<key>phraseTW</key>
			<string>探索</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>30</string>
			<key>fileName</key>
			<string>face30.png</string>
			<key>phraseCN</key>
			<string>凶</string>
			<key>phraseTW</key>
			<string>凶</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>31</string>
			<key>fileName</key>
			<string>face31.png</string>
			<key>phraseCN</key>
			<string>晕</string>
			<key>phraseTW</key>
			<string>暈</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>32</string>
			<key>fileName</key>
			<string>face32.png</string>
			<key>phraseCN</key>
			<string>再见</string>
			<key>phraseTW</key>
			<string>再見</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>44</string>
			<key>fileName</key>
			<string>face44.png</string>
			<key>phraseCN</key>
			<string>同意</string>
			<key>phraseTW</key>
			<string>同意</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>36</string>
			<key>fileName</key>
			<string>face36.png</string>
			<key>phraseCN</key>
			<string>不同意</string>
			<key>phraseTW</key>
			<string>不同意</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>46</string>
			<key>fileName</key>
			<string>face46.png</string>
			<key>phraseCN</key>
			<string>表扬</string>
			<key>phraseTW</key>
			<string>表揚</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>47</string>
			<key>fileName</key>
			<string>face47.png</string>
			<key>phraseCN</key>
			<string>批评</string>
			<key>phraseTW</key>
			<string>批評</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>41</string>
			<key>fileName</key>
			<string>face41.png</string>
			<key>phraseCN</key>
			<string>开会</string>
			<key>phraseTW</key>
			<string>開會</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>42</string>
			<key>fileName</key>
			<string>face42.png</string>
			<key>phraseCN</key>
			<string>散会</string>
			<key>phraseTW</key>
			<string>散會</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>48</string>
			<key>fileName</key>
			<string>face48.png</string>
			<key>phraseCN</key>
			<string>时间到</string>
			<key>phraseTW</key>
			<string>時間到</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>49</string>
			<key>fileName</key>
			<string>face49.png</string>
			<key>phraseCN</key>
			<string>打电话</string>
			<key>phraseTW</key>
			<string>打電話</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>50</string>
			<key>fileName</key>
			<string>face50.png</string>
			<key>phraseCN</key>
			<string>加班</string>
			<key>phraseTW</key>
			<string>加班</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>51</string>
			<key>fileName</key>
			<string>face51.png</string>
			<key>phraseCN</key>
			<string>下班了</string>
			<key>phraseTW</key>
			<string>下班了</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>45</string>
			<key>fileName</key>
			<string>face45.png</string>
			<key>phraseCN</key>
			<string>休息一下</string>
			<key>phraseTW</key>
			<string>休息一下</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>52</string>
			<key>fileName</key>
			<string>face52.png</string>
			<key>phraseCN</key>
			<string>吃饭</string>
			<key>phraseTW</key>
			<string>吃飯</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>53</string>
			<key>fileName</key>
			<string>face53.png</string>
			<key>phraseCN</key>
			<string>收邮件</string>
			<key>phraseTW</key>
			<string>收郵件</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>54</string>
			<key>fileName</key>
			<string>face54.png</string>
			<key>phraseCN</key>
			<string>迟到</string>
			<key>phraseTW</key>
			<string>遲到</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>55</string>
			<key>fileName</key>
			<string>face55.png</string>
			<key>phraseCN</key>
			<string>出差</string>
			<key>phraseTW</key>
			<string>出差</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>43</string>
			<key>fileName</key>
			<string>face43.png</string>
			<key>phraseCN</key>
			<string>太棒了</string>
			<key>phraseTW</key>
			<string>太棒了</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>35</string>
			<key>fileName</key>
			<string>face35.png</string>
			<key>phraseCN</key>
			<string>OK</string>
			<key>phraseTW</key>
			<string>OK</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>28</string>
			<key>fileName</key>
			<string>face28.png</string>
			<key>phraseCN</key>
			<string>握手</string>
			<key>phraseTW</key>
			<string>握手</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>38</string>
			<key>fileName</key>
			<string>face38.png</string>
			<key>phraseCN</key>
			<string>鼓掌</string>
			<key>phraseTW</key>
			<string>鼓掌</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>33</string>
			<key>fileName</key>
			<string>face33.png</string>
			<key>phraseCN</key>
			<string>抓狂</string>
			<key>phraseTW</key>
			<string>抓狂</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>37</string>
			<key>fileName</key>
			<string>face37.png</string>
			<key>phraseCN</key>
			<string>生日快乐</string>
			<key>phraseTW</key>
			<string>生日快樂</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>40</string>
			<key>fileName</key>
			<string>face40.png</string>
			<key>phraseCN</key>
			<string>奖金</string>
			<key>phraseTW</key>
			<string>獎金</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>24</string>
			<key>fileName</key>
			<string>face24.png</string>
			<key>phraseCN</key>
			<string>玫瑰</string>
			<key>phraseTW</key>
			<string>玫瑰</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>18</string>
			<key>fileName</key>
			<string>face18.png</string>
			<key>phraseCN</key>
			<string>咖啡</string>
			<key>phraseTW</key>
			<string>咖啡</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>16</string>
			<key>fileName</key>
			<string>face16.png</string>
			<key>phraseCN</key>
			<string>红唇</string>
			<key>phraseTW</key>
			<string>紅唇</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>17</string>
			<key>fileName</key>
			<string>face17.png</string>
			<key>phraseCN</key>
			<string>激动</string>
			<key>phraseTW</key>
			<string>激動</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>29</string>
			<key>fileName</key>
			<string>face29.png</string>
			<key>phraseCN</key>
			<string>心碎</string>
			<key>phraseTW</key>
			<string>心碎</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>21</string>
			<key>fileName</key>
			<string>face21.png</string>
			<key>phraseCN</key>
			<string>礼物</string>
			<key>phraseTW</key>
			<string>禮物</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>20</string>
			<key>fileName</key>
			<string>face20.png</string>
			<key>phraseCN</key>
			<string>篮球</string>
			<key>phraseTW</key>
			<string>籃球</string>
		</dict>
		<dict>
			<key>faceID</key>
			<string>34</string>
			<key>fileName</key>
			<string>face34.png</string>
			<key>phraseCN</key>
			<string>足球</string>
			<key>phraseTW</key>
			<string>足球</string>
		</dict>
	</array>
</dict>
</plist>
